<h1> Workout Number <%= @workout.id %></h1>

<div class="container">
	<table class="table table-striped">
		<thead>
			<th>Excercize</th>
			<th>Sets</th>
			<th>Reps</th>
			<th>Weight</th>
		</thead>
		<tbody>
			<% @workout.exercises.each do |e| %>
			<% @workout.lifts.each do |w| %>
			<tr>
				<td> <%= e.name %></td>
				<td><%= w.sets %></td>
				<td><%= w.reps %></td>
				<td><%= w.weight %></td>
			</tr>
		</tbody>
		<% end %>
		<% end %>
	</table>
</div>